PaddleOCR_Training/pretrained_models/en_PP-OCRv4_rec_train/best_accuracy.pdopt filter=lfs diff=lfs merge=lfs -text
PaddleOCR_Training/CreateLabel.ipynb filter=lfs diff=lfs merge=lfs -text
PaddleOCR_Training/pretrained_models/en_PP-OCRv4_rec_train/best_accuracy.pdparams filter=lfs diff=lfs merge=lfs -text
